<a href="https://colab.research.google.com/github/AdeoyeAdekeye/Hamoye/blob/main/Hamoye_graded_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin=-1')

In [5]:
df.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [6]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [10]:
df[['Area Code',

'Area',

'Item Code',

'Item',

'Element Code',

'Element',

'Unit',

'Y2014',

'Y2015',

'Y2016',

'Y2017',

'Y2018']].fillna(value='mcf')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.9,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.4,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.0,46.0,33.0,19.0,16.0
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.0,4.0,3.0,1.0,1.0
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.1,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01


Which year had the least correlation with ‘Element Code’?

In [20]:

years = df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
correlations = {}

for column in years.columns:
    correlation = df['Element Code'].corr(df[column])
    correlations[column] = correlation

# Find the year with the least correlation
min_correlation_year = min(correlations, key=correlations.get)
min_correlation = correlations[min_correlation_year]

print(f"The year with the least correlation is {min_correlation_year} with a correlation of {min_correlation}")

The year with the least correlation is Y2016 with a correlation of 0.023443997584961424

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [31]:



# Calculate the total sum of Wine produced in 2015 and 2018
wine_production_2015 = df['Y2015'][df['Item'] == 'Wine'].sum()
wine_production_2018 = df['Y2018'][df['Item'] == 'Wine'].sum()

# Print the total sum of Wine produced in 2015 and 2018
print(f"Total Wine production in 2015: {wine_production_2015}")
print(f"Total Wine production in 2018: {wine_production_2018}")

Total Wine production in 2015: 4251.8099999999995
Total Wine production in 2018: 4039.3199999999997

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [32]:
# Extract the column for the year 2017
year_2017 = df['Y2017']

# Calculate the mean and standard deviation
mean_2017 = round(year_2017.mean(), 2)  # Round to two decimal places
std_2017 = round(year_2017.std(), 2)    # Round to two decimal places

# Print the results
print(f"Mean for the year 2017: {mean_2017}")
print(f"Standard Deviation for the year 2017: {std_2017}")

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [43]:

# Filter the DataFrame to only include rows where 'Element' is 'Stock Variation'
filtered_df = df[df['Element'] == 'Stock Variation']

#calculate the sum of 'Stock Variation' for each year
grouped = filtered_df.sum()


# Print the result
print(f"The year with the highest sum of Stock Variation is {grouped}")

The year with the highest sum of Stock Variation is Area Code                                                  571566
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                11329527
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21464704
Element         Stock VariationStock VariationStock VariationS...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    58749.83
Y2015                                                    34910.99
Y2016                                                    33140.12
Y2017                                                    54316.91
Y2018                                                    20577.91
dtype: object

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [45]:

filtered_df = df['Y2014']

# Calculate the total number of missing values in the filtered DataFrame
total_missing = filtered_df.isnull().sum().sum()

# Calculate the total number of values in the filtered DataFrame
total_values = filtered_df.size

# Calculate the percentage of missing data to three decimal places
percentage_missing = (total_missing / total_values) * 100

# Print the results
print(f"Total Missing Data in 2014: {total_missing}")
print(f"Percentage of Missing Data in 2014: {percentage_missing:.3f}%")

Total Missing Data in 2014: 1589
Percentage of Missing Data in 2014: 2.607%

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [46]:


# Select the columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Group the DataFrame by 'Area' and calculate the sum of 'Y2017' for each Area
grouped = selected_columns.groupby('Area')['Y2017'].sum().reset_index()

# Sort the DataFrame by the sum of 'Y2017' in ascending order
sorted_df = grouped.sort_values(by='Y2017')

# Find the 7th lowest sum in 'Y2017'
seventh_lowest_sum = sorted_df['Y2017'].iloc[6]

# Find the Area(s) with the 7th lowest sum in 'Y2017'
areas_with_seventh_lowest_sum = sorted_df[sorted_df['Y2017'] == seventh_lowest_sum]

# Print the result
print("Areas with the 7th Lowest Sum in Y2017:")
print(areas_with_seventh_lowest_sum)

Areas with the 7th Lowest Sum in Y2017:
             Area     Y2017
21  Guinea-Bissau  19102.77

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [47]:


# Select the columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Group the DataFrame by 'Area' and calculate the sum of 'Y2017' for each Area
grouped = selected_columns.groupby('Area')['Y2017'].sum().reset_index()

# Find the Area with the highest sum in 'Y2017'
area_with_highest_sum = grouped.loc[grouped['Y2017'].idxmax()]

# Print the result
print("Area with the Highest Sum in Y2017:")
print(area_with_highest_sum)

Area with the Highest Sum in Y2017:
Area        Nigeria
Y2017    1483268.23
Name: 34, dtype: object

What is the total Protein supply quantity in Madagascar in 2015?

In [57]:
sl= df[df['Element']=='Protein supply quantity (g/capita/day)']
sl = sl[sl['Area']=='Madagascar']
print(sl['Y2015'].sum())

173.04999999999998

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [61]:
filtered_df = df[df['Element'] == 'Processing']['Y2017']

# Calculate the sum of 'Processing' for the filtered DataFrame
total_processing_2017 = filtered_df.sum()

# Print the result
print(f"The total sum of 'Processing' in 2017 is {total_processing_2017}")

The total sum of 'Processing' in 2017 is 292836.0